.App {
  justify-content: center;
  align-items: center;
  display: grid;
}

#title {
  justify-content: center;
	display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 1200px;
  height: 600px;
  border: 1px solid #ccc;
  grid-auto-rows: minmax(100%, auto);
}

.img-uploaded {
  position: absolute;
  left: 1%;
  top: 150px;
  width: 300px;
  height: 500px;
  max-width: 100%;
}