.input-component {
  display: grid;
  grid-template-rows: 1fr;
  padding: 20px;
}

.input-textarea {
  width: 100%;
  height: 95%;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto; /* 스크롤 추가 */
  white-space: pre-wrap;
}
.red-highlight {
  color: red;
}

.blue-highlight {
  color: blue;
}